<ion-header>
    <ion-toolbar color="dark">
        <ion-button slot="start" fill="clear" (click)="closeChat()">
            <!-- <ion-icon color="light" name="arrow-round-back"></ion-icon> -->
            <ion-icon style="color:#fff; font-size: 25px" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-title>{{ chat.name }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div *ngIf="room">
        <ion-card *ngFor="let mensaje of room.messages">
            <ion-card-content>
                {{ mensaje.content }}
            </ion-card-content>
        </ion-card>
    </div>



</ion-content>

<ion-footer class="ion-padding">
    <ion-item>
        <ion-item>
            <!-- <ion-label position="floating">Description</ion-label> -->
            <ion-textarea [(ngModel)]="msg" placeholder="Type a message"></ion-textarea>
        </ion-item>
        <ion-button color="dark" slot="end" (click)="sendMessage()">
            <ion-icon name="send"></ion-icon>
        </ion-button>
    </ion-item>
</ion-footer>